<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
th {
    text-align: left;
}
        </style>
    </head>
    <body>
        <h1>MusicBrainz Release Matching</h1>
        {% if matches %}
        <form method="post">
            <table>
                <thead>
                    <tr>
                        <th>Foreign Release</th>
                        <th>MusicBrainz Release</th>
                    </tr>
                </thead>
                <tbody>
                {% for match in matches %}
                    <tr>
                        {% if match.id.startswith('ia:') %}
                        <td><a href="http://archive.org/details/{{ match.id.split(':', 1)[1] }}">{{ match.id }}</a></td>
                        {% elif match.id.startswith('jamendo:album:') %}
                        <td><a href="http://www.jamendo.com/en/list/a{{ match.id.split(':', 2)[2] }}">{{ match.id }}</a></td>
                        {% else %}
                        <td>{{ match.id }}</td>
                        {% endif %}
                        <td><a href="http://musicbrainz.org/release/{{ match.mbid }}">{{ match.mbid }}</a></td>
                        <td>
                            {% if match.confirmed %}
                                {% if match.valid %}
                                    Confirmed
                                {% else %}
                                    Rejected
                                {% endif %}
                                {% if match.confirmed_by %}
                                    by {{ match.confirmed_by }}
                                {% else %}
                                    automatically
                                {% endif %}
                            {% else %}
                            <button type="submit" name="action" value="confirm {{ match.id }} {{ match.mbid }}">Confirm match</button>
                            <button type="submit" name="action" value="reject {{ match.id }} {{ match.mbid }}">Reject match</button>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <table border="1">
                            <small>
                            {% for disc_no in union_keys(release.discs, match.mb_release.discs) %}
                                <tr>
                                    <td colspan="3">Disc {{ disc_no }}</td>
                                </tr>
                                {% for track_no in union_keys(release.discs[disc_no], match.mb_release.discs[disc_no]) %}
                                <tr>
                                    <td>Track {{ track_no }}</td>
                                    <td>
                                        {% if release.discs[disc_no] and release.discs[disc_no][track_no] %}
                                            {% if match.mb_release.discs[disc_no] and match.mb_release.discs[disc_no][track_no] and match.mb_release.discs[disc_no][track_no].title != release.discs[disc_no][track_no].title %}
                                                <span style="color:brown">
                                            {% endif %}
                                            {{ release.discs[disc_no][track_no].title | default('(no title)', true) }}
                                            {% if match.mb_release.discs[disc_no] and match.mb_release.discs[disc_no][track_no] and match.mb_release.discs[disc_no][track_no].title != release.discs[disc_no][track_no].title %}
                                                </span>
                                            {% endif %}
                                            {% if match.mb_release.discs[disc_no] and match.mb_release.discs[disc_no][track_no] and format_time(match.mb_release.discs[disc_no][track_no].length) != format_time(release.discs[disc_no][track_no].length) %}
                                                <span style="color:brown">
                                            {% endif %}
                                            ({{ format_time(release.discs[disc_no][track_no].length) }})
                                            {% if match.mb_release.discs[disc_no] and match.mb_release.discs[disc_no][track_no] and format_time(match.mb_release.discs[disc_no][track_no].length) != format_time(release.discs[disc_no][track_no].length) %}
                                                </span>
                                            {% endif %}
                                        {% else %}
                                            <span style="color:red">(missing track)</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if match.mb_release.discs[disc_no] and match.mb_release.discs[disc_no][track_no] %}
                                            {{ match.mb_release.discs[disc_no][track_no].title | default('(no title)', true) }}
                                            ({{ format_time(match.mb_release.discs[disc_no][track_no].length) }})
                                        {% else %}
                                            <span style="color:red">(missing track)</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endfor %}
                            </small>
                            </table>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <p>
                <button type="submit" name="action" value="skip">Skip this release</button>
            </p>
        </form>
        {% else %}
        <p>Nothing to do!</p>
        {% endif %}
        <p><small>Logged in as {{ user }} | <a href="/logout">Log out</a></small></p>
    </body>
</html>

